link = {
	'localhost': {
 		'protocol':		'charybdis3', # Valid options: charybdis3, inspircd12.
		'remote':		('server.you.are.linking.with', 7000),
		'server':		'pseudo-server.jcs.me.uk',
		'sid':			'30D', # Optional.
		'pass':			'password'
	},
}

