link = 	{
			'remote_host': 'server.you.are.linking.with',
			'remote_port':  7000,
			'server': 'pseudo-server.jcs.me.uk', # My own name.
			'sid': '123',
			'sendpass': 'outgoing!password', # sendpass in inspircd config. (DO NOT REVERSE)
			'recvpass': 'incoming!password', # recvpass in inspircd config. (DO NOT REVERSE)
		}
